<div class="container mt-4">
    <form action="">
        <div class="card p-4">
            <mat-form-field appearance="outline">
                <mat-label>Employee Id</mat-label>
                <input matInput placeholder="Employee Id" name="Id" [(ngModel)]="employee.Id">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <input matInput placeholder="Emplyoyee Name" name="EmplyoyeeName" [(ngModel)]="employee.employeeName">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Emplyoyee Contact</mat-label>
                <input matInput placeholder="Emplyoyee Contact" name="EmplyoyeeContact" [(ngModel)]="employee.employeeContact">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Emplyoyee Address</mat-label>
                <input matInput placeholder="Emplyoyee Address" name="EmplyoyeeAddress" [(ngModel)]="employee.employeeAddress">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Choose your department</mat-label>
                <mat-select>
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="Network">Network</mat-option>
                    <mat-option value="Security">Security</mat-option>
                </mat-select>
            </mat-form-field>
            <div> <label>Gender</label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <label>Skills</label>
                <section class="example-section">
                    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                    <mat-checkbox class="example-margin">Check me 2</mat-checkbox>
                </section>
            </div>
            <mat-list>
                <mat-divider></mat-divider>
            </mat-list>
            <div class="text-center mt-3">
                <button mat-raised-button class="m-2">Clear</button>
                <button mat-raised-button class="m-2" color="primary">Submit</button>
            </div>
            <mat-list>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
    </form>
</div>